{% extends 'base.html.twig' %}


{% block stylesheets %}
<link href= '{{ asset("styles/css/timer.css")}}' rel="stylesheet">
{% endblock %}
{% block body %}
{{parent()}}

<div class="box-timer-solves" data-controller="timer" data-timer-url-value="{{ path('app_timer_scramble_generate') }}">
    <div class="box-timer" >
        <h2 id="scramble" data-timer-target="scramble">{{ scramble }}</h2>
        <div id="timer"  data-timer-target="timer">0.00</div>
    </div>
    
    {{ include('solve/index.html.twig') }}

    
</div>

<div>{% for face in cubeScrambled %}
        <div class="face"> 
            {% for j in face %} 
                {% set color = j %}
                {% if j == 'W'%}
                    <span style='display:inline-block;width:15px;height:15px;background-color:grey;border:1px black solid'></span>
                {% elseif j == 'G'%}
                    <span style='display:inline-block;width:15px;height:15px;background-color:green;border:1px black solid'></span>
                {% elseif j == 'R'%}
                    <span style='display:inline-block;width:15px;height:15px;background-color:red;border:1px black solid'></span>
                {% elseif j == 'O'%}
                    <span style='display:inline-block;width:15px;height:15px;background-color:orange;border:1px black solid'></span>
                {% elseif j == 'B'%}
                    <span style='display:inline-block;width:15px;height:15px;background-color:blue;border:1px black solid'></span>
                {% elseif j == 'Y'%}
                    <span style='display:inline-block;width:15px;height:15px;background-color:yellow;border:1px black solid'></span>
                {% endif %}                    
            {% endfor %}
            <div>{{loop.index}}</div>
        </div>
        
        {% endfor %}
    </div>

{% endblock %}



